<div class="breadcrumb-line breadcrumb-line-light">
<div class="d-flex">
<div class="breadcrumb">
<a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>Главная</a>
<span class="breadcrumb-item active">{{ title }}</span>
</div>
</div>
</div>